:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --main-text: #000000;
  --light-text: #ffffff;
  --main-background: #ffffff;
  --dark-background: #000000;
  --brand-color-blue: #c1cbe7;
  --brand-color-pink: #fcd0ba;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}
*,
::before,
::after {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text);
  font-weight: 400;
  background-color: var(--main-background);
  margin: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.animate__animated.animate__fadeIn {
  animation-duration: 2s;
}
/* -----------------------------------------------------HEADER-MOBILE----------------------------------------------------------- */
.container {
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: auto;
  margin-right: auto;
}
.tagline {
  background-color: var(--brand-color-blue);
  width: 100%;
}
.tagline-box {
  display: flex;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 1.5;
}
.mobile-menu-open {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-left: auto;
  background-color: var(--brand-color-blue);
  border: 0;
}
.burger-icon {
  height: 32px;
  width: 32px;
  fill: var(--dark-background);
}
.navigation-list {
  display: none;
}
.mobile-menu-container {
  position: relative;
  padding: 40px;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  transition: transform 250ms ease-in-out;
  transform: translateX(100%);
  background-color: var(--main-background);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-close {
  width: 24px;
  height: 24px;
  padding: 4px;
  margin-left: auto;
  background-color: var(--brand-color-blue);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--timing-function) var(--animation-duration),
    fill var(--timing-function) var(--animation-duration);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: var(--dark-background);
  fill: #ffffff;
}
.close-icon {
  width: 8px;
  height: 8px;
}

.mobile-navigation-item:not(:last-child) {
  margin-bottom: 16px;
}
.mobile-navigation-link {
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color var(--timing-function) var(--animation-duration);
}
.mobile-navigation-link:hover,
.mobile-navigation-link:focus,
.mobile-navigation-link:active {
  color: var(--brand-color-blue);
}

.mobile-sl-list {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}
.mobile-sl-icon {
  width: 24px;
  height: 24px;
}
.mobile-sl-link {
  fill: var(--dark-background);
  transition: fill var(--timing-function) var(--animation-duration);
}
.mobile-sl-link:hover,
.mobile-sl-link:focus {
  fill: var(--brand-color-blue);
}
/* -----------------------------------------------------HERO-MOBILE----------------------------------------------------------- */
.hero {
  padding-bottom: 36px;
  padding-top: 36px;
  text-align: center;
}
.hero-title {
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 32px;
}
.hero-subtitle {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.form-email {
  display: flex;
  margin-bottom: 32px;
  justify-content: center;
}
.form-input {
  border-radius: 50px 0px 0px 50px;
  border: 1px solid var(--brand-color-blue);
  width: 220px;
  height: 60px;
  font-size: 20px;
  line-height: 1.5;
  padding: 15px;
}
.form-button {
  border-radius: 0px 50px 50px 0px;
  background-color: var(--dark-background);
  padding: 8px;
  height: 60px;
  color: var(--light-text);
  transition: background-color var(--timing-function) var(--animation-duration),
    color var(--timing-function) var(--animation-duration);
}
.form-button:hover,
.form-button:focus {
  background-color: var(--brand-color-blue);
  color: var(--main-text);
}
.hero-text {
  width: 278px;
  font-size: 18px;
  line-height: 1.22;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
.swiper-scrollbar {
  background-color: var(--brand-color-pink);
  opacity: 1;
}
.swiper-scrollbar-drag {
  background-color: var(--dark-background);
  opacity: 1;
}
.hero-note {
  margin-top: 32px;
  font-size: 10px;
  line-height: 1.22;
}
.hero-img {
  display: none;
}
/* -----------------------------------------------------ADVANTAGES-MOBILE----------------------------------------------------------- */
.advantages,
.app {
  background-color: var(--dark-background);
  padding: 36px 0;
}
.advantages-text-box {
  color: var(--light-text);
  text-align: center;
}
.advantages-subtitle {
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 36px;
}
.advantages-text {
  font-size: 36px;
  line-height: 1.14;
  margin-top: 18px;
}
.advantages-img {
  margin-left: auto;
  margin-right: auto;
}
/* -----------------------------------------------------STEPS-MOBILE----------------------------------------------------------- */
.first-step,
.second-step {
  padding: 36px 10px;
}
.step-title {
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
}
.step-subtitle {
  margin-top: 30px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.first-step-box,
.second-step-box {
  margin-top: 36px;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
}
.first-step-box {
  background-color: var(--brand-color-pink);
  padding: 20px 12px;
}
.second-step-box {
  background-color: var(--brand-color-blue);
  padding: 20px 12px;
}
.last-box {
  padding: 20px 12px;
}
.step-text-subtitle {
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.step-text-title {
  font-size: 36px;
  line-height: 1.07;
  margin-bottom: 16px;
}
.step-text-list {
  font-size: 16px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.step-text-item {
  min-height: 40px;
  padding-left: 60px;
  background-image: url(../images/tick.png);
  background-repeat: no-repeat;
}
.step-text-note {
  display: none;
}
.phone-img {
  display: none;
}
.phone-img-2 {
  display: none;
}
.card-img {
  display: none;
}
.step-button {
  display: block;
  margin-top: 20px;
  padding: 15px 35px;
  background-color: var(--dark-background);
  color: var(--light-text);
  border-radius: 50px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--timing-function) var(--animation-duration),
    color var(--timing-function) var(--animation-duration);
}
.step-button:hover,
.step-button:focus {
  background-color: var(--main-background);
  color: var(--main-text);
}
.account-text {
  font-size: 16px;
  line-height: 1.2;
}
.account-img {
  margin-left: auto;
  margin-right: auto;
}
/* -----------------------------------------------------APP-MOBILE---------------------------------------------------------- */
.app-text-box {
  margin-top: 16px;
  color: var(--light-text);
  text-align: center;
}
.app-item {
  margin-bottom: 20px;
}
.app-subtitle {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.app-text {
  font-size: 12px;
  line-height: 1.5;
}
.app-img {
  margin-left: auto;
  margin-right: auto;
}
.applications-box {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.applications-box-item {
  background-color: var(--main-background);
  color: var(--main-text);
  padding: 20px 32px 30px 32px;
  border-radius: 12px;
  transition: transform var(--timing-function) var(--animation-duration);
}
.applications-box-item:hover,
.applications-box-item:focus {
  transform: scale(1.25);
}
.application-image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.rate {
  font-size: 35px;
  line-height: 1.1;
}
.reviews {
  font-size: 12px;
  line-height: 1.5;
  color: #808080;
  margin-bottom: 0.8;
}
/* -----------------------------------------------------FEEDBACK-MOBILE----------------------------------------------------------- */
.feedback {
  padding: 36px 10px;
}
.feedback-subtitle {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}
.feedback-item {
  position: relative;
  width: 260px;
  height: 220px;
  background-color: #efefef;
  border-radius: 12px;
  text-align: center;
}
.feedback-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
}
.feedback-text {
  font-size: 16px;
  line-height: 1.14;
  margin-bottom: 16px;
}
.feedback-name {
  font-size: 12px;
  line-height: 1.5;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  opacity: 1;
  background-color: var(--brand-color-blue);
}
.swiper-pagination-bullet-active {
  background-color: var(--dark-background);
}
/* -----------------------------------------------------CONTACTS-MOBILE----------------------------------------------------------- */
.contacts {
  background-color: var(--brand-color-pink);
  padding: 36px 10px;
  text-align: center;
}
.contacts-subtitle {
  font-size: 36px;
  line-height: 1.14;
  margin-bottom: 16px;
}
.contacts-address {
  font-style: normal;
}
.contacts-address-subtitle {
  font-size: 20px;
  line-height: 1.14;
  margin-bottom: 16px;
}
.contacts-address-button {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
  background-color: var(--main-background);
  border-radius: 50%;
  padding: 16px;
  transition: color var(--timing-function) var(--animation-duration),
    background-color var(--timing-function) var(--animation-duration);
}
.contacts-address-button:hover,
.contacts-address-button:focus {
  background-color: var(--dark-background);
  color: var(--light-text);
}
.contacts-text {
  font-size: 16px;
  line-height: 1.4;
}
.conclusion-img {
  display: none;
}
/* -----------------------------------------------------FOOTER-MOBILE---------------------------------------------------------- */
.footer {
  background-color: var(--dark-background);
  padding: 36px 10px;
  color: var(--light-text);
  text-align: center;
}
.footer-note {
  font-size: 12px;
  line-height: 1.5;
  color: #b3b3b3;
  margin-bottom: 16px;
}
.footer-links {
  font-size: 16px;
  line-height: 1.5;
}
.footer-navigation-list {
  display: flex;
  column-gap: 36px;
  row-gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 36px;
}
.footer-navigation-link {
  transition: color var(--timing-function) var(--animation-duration);
}
.footer-navigation-link:hover,
.footer-navigation-link:focus {
  color: var(--brand-color-blue);
}
.footer-sl-list {
  display: flex;
  gap: 36px;
  justify-content: center;
}
.footer-sl-icon {
  width: 24px;
  height: 24px;
}
.footer-sl-link {
  fill: var(--light-text);
  transition: fill var(--timing-function) var(--animation-duration);
}
.footer-sl-link:hover,
.footer-sl-link:focus {
  fill: var(--brand-color-pink);
}
/* -----------------------------------------------------THRIVE/CARD-MOBILE----------------------------------------------------------- */
.thrive,
.card {
  padding: 36px 10px;
}
.thrive-title,
.card-title {
  font-size: 24px;
  line-height: 1.07;
  margin-bottom: 16px;
}
.thrive-text,
.card-text {
  font-size: 16px;
  line-height: 1.2;
}
.thrive-text:not(:last-child) {
  margin-bottom: 24px;
}
.card-subtitle {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 16px;
  margin-top: 16px;
}
.card-list-item {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.card-list-item:last-child {
  margin-bottom: 0px;
}
/* -----------------------------------------------------HEADER-TABLET----------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .tagline-box {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
  }
  .mobile-menu-open {
    display: none;
  }
  .navigation-list {
    display: flex;
    gap: 52px;
    justify-content: center;
    font-size: 18px;
    line-height: 1.22;
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .navigation-link {
    display: block;
    transition: transform var(--timing-function) var(--animation-duration);
  }
  .navigation-link:hover,
  .navigation-link:focus {
    transform: scale(1.25);
  }
  .mobile-menu {
    display: none;
  }
  /* -----------------------------------------------------HERO-TABLET----------------------------------------------------------- */
  .hero {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
  }
  .hero-text-box {
    width: 360px;
  }
  .hero-title {
    font-size: 48px;
  }
  .form-email {
    justify-content: flex-start;
  }
  .form-input {
    width: 240px;
  }
  .hero-img {
    display: block;
    margin-top: 30px;
    width: 360px;
  }
  /* -----------------------------------------------------ADVANTAGES-TABLET----------------------------------------------------------- */
  .advantages,
  .app {
    padding: 36px 10px;
  }
  .advantages-box {
    display: flex;
    gap: 36px;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  .advantages-subtitle {
    margin-top: 86px;
  }
  .advantages-text {
    margin-top: 36px;
  }
  .advantages-img {
    margin: 0;
  }
  /* -----------------------------------------------------STEPS-TABLET----------------------------------------------------------- */
  .first-step-box,
  .second-step-box {
    padding: 36px 36px;
  }
  .last-box {
    display: flex;
    gap: 16px;
  }
  .last-box .step-text-box {
    margin-top: 48px;
  }
  .account-img {
    margin: 0;
  }
  /* -----------------------------------------------------APP-TABLET---------------------------------------------------------- */
  .app-box {
    display: flex;
    gap: 36px;
    justify-content: center;
  }
  .applications-box {
    gap: 28px;
  }
  .app-img {
    width: 360px;
    margin: 0;
  }
  /* -----------------------------------------------------FEEDBACK-TABLET----------------------------------------------------------- */
  .feedback-item {
    width: 724px;
    height: 150px;
  }
  .feedback-text-box {
    width: 710px;
  }
  /* -----------------------------------------------------CONTACTS-TABLET----------------------------------------------------------- */
  .conclusion-img {
    display: block;
    width: 360px;
  }
  .contacts-box {
    display: flex;
    gap: 36px;
    justify-content: center;
  }
  .contacts-subtitle {
    margin-top: 48px;
  }
}
/* -----------------------------------------------------HEADER-PC---------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .tagline-box {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 20px;
  }
  /* -----------------------------------------------------HERO------------------------------------------------------------ */
  .hero {
    gap: 138px;
    padding-bottom: 58px;
    padding-top: 58px;
  }
  .hero-text-box {
    width: 552px;
  }
  .hero-title {
    font-size: 80px;
    margin-bottom: 38px;
  }
  .hero-subtitle {
    margin-bottom: 46px;
  }
  .form-email {
    margin-bottom: 46px;
  }
  .form-input {
    width: 280px;
  }
  .form-button {
    width: 110px;
  }
  .hero-text {
    padding-bottom: 38px;
  }
  .hero-note {
    margin-top: 38px;
    font-size: 13px;
  }
  .hero-img {
    width: 464px;
  }
  /* -----------------------------------------------------ADVANTAGES------------------------------------------------------------ */
  .advantages,
  .app {
    padding: 64px 22px;
  }
  .advantages-box {
    gap: 122px;
  }
  .advantages-text-box {
    background-image: url(../images/circle.png);
    background-repeat: no-repeat;
    background-position: 50% 75%;
  }
  .advantages-subtitle {
    margin-top: 78px;
  }
  .advantages-text {
    font-size: 56px;
    margin-top: 102px;
    width: 600px;
  }
  /* -----------------------------------------------------STEPS------------------------------------------------------------ */
  .first-step,
  .second-step {
    padding: 58px 120px;
  }
  .step-subtitle {
    font-size: 55px;
  }
  .first-step-box,
  .second-step-box {
    margin-top: 48px;
    display: flex;
    gap: 48px;
    width: 960px;
  }
  .first-step-box {
    padding: 96px 78px 0 78px;
  }
  .second-step-box {
    padding: 56px 42px 76px 42px;
  }
  .last-box {
    padding: 36px 42px;
    gap: 48px;
  }
  .step-text-subtitle {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .step-text-title {
    font-size: 45px;
    margin-bottom: 40px;
  }
  .step-text-list {
    font-size: 20px;
    gap: 40px;
  }
  .step-text-note {
    display: block;
    font-size: 10px;
    line-height: 1.6;
  }
  .phone-img {
    display: block;
    position: relative;
    top: 20px;
  }
  .phone-img-2 {
    display: block;
    position: relative;
    top: 48px;
  }
  .card-img {
    display: block;
  }
  .step-button {
    margin-top: 40px;
  }
  .account-text {
    font-size: 20px;
    line-height: 1.6;
  }
  .last-box .step-text-box {
    margin-top: 0;
  }
  /* -----------------------------------------------------APP----------------------------------------------------------- */
  .app-box {
    gap: 168px;
  }
  .app-item {
    margin-bottom: 36px;
  }
  .app-subtitle {
    font-size: 24px;
  }
  .applications-box {
    gap: 40px;
  }
  .applications-box-item {
    width: 160px;
  }
  .app-img {
    width: 445px;
  }
  /* -----------------------------------------------------FEEDBACK------------------------------------------------------------ */
  .feedback {
    padding: 58px 44px;
  }
  .feedback-subtitle {
    font-size: 56px;
    margin-bottom: 88px;
  }
  .feedback-item {
    width: 1100px;
    height: 250px;
  }
  .feedback-text-box {
    width: 1000px;
  }
  .feedback-text {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .feedback-name {
    font-size: 16px;
  }
  /* -----------------------------------------------------CONTACTS------------------------------------------------------------ */
  .contacts {
    padding: 58px 44px;
  }
  .conclusion-img {
    width: 468px;
  }
  .contacts-box {
    gap: 170px;
  }
  .contacts-subtitle {
    font-size: 56px;
    width: 328px;
    margin-bottom: 32px;
    margin-top: 0;
  }
  .contacts-address-subtitle {
    font-size: 28px;
  }
  .contacts-address-button {
    font-size: 24px;
    line-height: 1.6;
    padding: 20px;
  }
  .contacts-text {
    font-size: 20px;
    line-height: 1.6;
  }
  /* -----------------------------------------------------FOOTER-MOBILE---------------------------------------------------------- */

  /* -----------------------------------------------------FOOTER----------------------------------------------------------- */
  .footer {
    padding: 58px 44px;
    text-align: start;
  }
  .footer-box {
    display: flex;
    gap: 96px;
    justify-content: center;
  }
  .footer-note {
    width: 254px;
    margin: 0;
  }
  .footer-links {
    margin-top: auto;
    margin-bottom: auto;
  }
  .footer-navigation-list {
    gap: 52px;
    flex-wrap: nowrap;
  }
  .footer-sl-list {
    gap: 52px;
  }
  /* -----------------------------------------------------THRIVE/CARD-MOBILE----------------------------------------------------------- */

  /* -----------------------------------------------------THRIVE/CARD------------------------------------------------------------ */
  .thrive,
  .card {
    padding: 58px 44px;
  }
  .thrive-title,
  .card-title {
    font-size: 45px;
    margin-bottom: 36px;
  }
  .thrive-text,
  .card-text {
    font-size: 20px;
  }
  .thrive-text:not(:last-child) {
    margin-bottom: 40px;
  }
  .card-subtitle {
    font-size: 24px;
  }
  .card-list-item {
    font-size: 20px;
  }
}
